.login
  .login__wrapper
    .login__wrapper__top
      %h2 ログイン
    .login__wrapper__main
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field.login__wrapper__main__field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .field.login__wrapper__main__field
          = f.label :password
          %br/
          = f.password_field :password, autocomplete: "current-password"
        .actions.login__wrapper__main__btn
          = f.submit "ログイン", class: "login_btn"
