.new
  .new__post
    .new__post__top 新規投稿
    .new__post__wrapper
      = form_with model: @post, local: true do |f|
        .new__post__wrapper__title
          .new__post__wrapper__title__top
            タイトル
          .new__post__wrapper__title__bottom
            = f.text_field :title, class: "new__post__wrapper__title__bottom__field"
        .new__post__wrapper__tag
          .new__post__wrapper__tag__top
            タグ
          .new__post__wrapper__tag__bottom
            = f.text_field :tag_list, value: @post.tag_list.join(',')
        .new__post__wrapper__text
          .new__post__wrapper__text__top
            テキスト
          .new__post__wrapper__text__bottom
            = f.text_area :text, class: "new__post__wrapper__text__bottom__field", rows: 15
        .new__post__wrapper__sub
          = f.submit "投稿", class: "new__post__wrapper__sub__btn"
