.index
  .index__search
  .index__wrapper
    .index__wrapper__content
      .index__wrapper__content__title
        = @post.title
      .index__wrapper__content__tag
        = render 'posts/tag_list', tag_list: @post.tag_list
      .index__wrapper__content__text
        = simple_format @post.text

  .index__comment__field
    = form_with(model: [@post, @comment], local: true) do |f|
      = f.text_area :content, class: "index__comment__field__area", rows: "3", placeholder: "コメントする"
      = f.submit '送信', class: "index__comment__field__btn"

  .index__comment__main
    - @comments.each do |comment|
      - if comment.reply.blank?
        .index__comment__main__box
          .index__comment__main__box--top
            = comment.id
            %span.index__comment__main__box--top--name 名無しのチュートリアルさん
            = comment.created_at.strftime("%Y年%m月%d日 %H:%M")
          .index__comment__main__box--bottom
            = simple_format comment.content
          = link_to "#" do
            = icon('fa', 'reply', id: "reply-btn#{comment.id}")
          = link_to post_comment_path(comment.post_id, comment.id), method: :delete do
            = icon('fa', 'trash-alt')
          .index__comment__main__box--reply
            - if @replies[comment.id] == nil
              = ""
            - elsif @replies[comment.id] == 1
              = "#{ @replies[comment.id] }Reply"
            - else
              = "#{ @replies[comment.id] }Replies"
          = form_with(model: [@post, @new_comment], local: true, id: "reply-form#{comment.id}") do |form|
            = form.text_area :content, id: "reply-text", placeholder: "コメントする"
            = form.hidden_field :reply, value: comment.id
            .reply__btn
              .reply__btn__cansel
                = 'Cansel'
            = form.submit "Reply", class: "reply__btn"
        - @comments.each do |reply|
          - if reply.reply == comment.id
            .index__comment__main__reply
              .index__comment__main__reply--top
                = reply.id
                %span.index__comment__main__reply--top--name 名無しのチュートリアルさん
                = reply.created_at.strftime("%Y年%m月%d日 %H:%M")
              .index__comment__main__reply--
                >>
                = comment.id
                = simple_format reply.content
