= @post.title
= @post.text

= form_with(model: [@post, @comment], local: true) do |f|
  = f.text_area :content
  = f.submit '送信'

- @comments.each do |comment|
  .comment_box
    = comment.id
    = comment.content
    = link_to "#" do
      #reply-btn
    = link_to "削除", post_comment_path(comment.post_id, comment.id), method: :delete
