!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TutorialApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      %h1.header__title
        = link_to "Tutorial Channel", root_path
        - if user_signed_in?
          .header__title__search
            = search_form_for @q do |f|
              = f.search_field :title_or_text_cont, class: "header__title__search__field", placeholder: "キーワードを入力"
              = f.submit "検索", class: "header__title__search__btn"
      %ul.header__list
        - if user_signed_in?
          %li.header__list__item
            = link_to "投稿一覧", root_path
          %li.header__list__item
            = link_to "新規投稿", new_post_path
          %li.header__list__item
            = link_to "ログアウト", destroy_user_session_path, method: :delete
        - else
          .header__list__item
            = link_to "サインイン", new_user_registration_path
          .header__list__item
            = link_to "ログイン", new_user_session_path
    = yield
